iptables -A FORWARD -i ens38 -j ACCEPT
iptables -A FORWARD -o ens38 -j ACCEPT
iptables -A FORWARD -i ens39 -j ACCEPT
iptables -A FORWARD -i ens39 -j ACCEPT

iptables -t nat -A POSTROUTING -o ens33 -j MASQUERADE
iptables -t nat -A PREROUTING -i ens33 -p tcp --dport 80 -m set --match-set blacklist src -j DNAT --to-destination 10.10.6.207:80
ipset create blacklist hash:ip hashsize 4096
iptables -t nat -A PREROUTING -i ens33 -p tcp --dport 80 -j DNAT --to-destination 10.10.7.205

ipset add blacklist 192.168.130.1
